{% extends "base.html" %}

{% block title %}Notebooks running Linux and Notebook Accessories{% endblock %}

{% block header %}Notebooks running Linux and Notebook Accessories{% endblock %}

{% block content %}

<table>
{% for i in index %}
    <tr>
        <td>{% if index[i].Images and index[i].Images.SmallImage %}<img src="{{ index[i].Images.SmallImage.URL|e }}" alt="Product image">{% endif %}</td>
        <td><a href="{{ base }}/products/{{ index[i].ASIN|e }}/">{{ index[i].Title|e }}</a></td>
        <td>{{ index[i].Brand|e }}</td>
        <td>{{ index[i].ProductGroup|e }}</td>
        <td>{{ index[i].ListPrice|e }}</td>
    </tr>

{% endfor %}
</table>


{% endblock %}
